# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

findproc/findproc
findproc/findproc_d
killproc/killproc
killproc/killproc_d